.section-service
  background-color: #fff
  padding-top: 80px
  padding-bottom: 86px

.services
  display: flex
  justify-content: center
  align-items: flex-start
  align-content: center    
  flex-wrap: wrap
  &__item    
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center   
    margin-right: 92px
    margin-bottom: 83px
    flex-basis: 20%    
    &:nth-child(3)
      margin-right: 0
    &:nth-child(4)
      margin-bottom: 0
    &:nth-child(5)
      margin-right: 0
      margin-bottom: 0
  &__title
    margin-top: 30px
    font-size: 16px
    font-weight: 700
    color: #000
    +lato_reg
  &__text
    width: 225px
    text-align: center
    margin-top: 17px
    margin-bottom: 0
    font-size: 14px
    color: #000
    font-weight: 400
    +lato_reg

//________________________________________Секция с формой заявки_________________///import css-variables from 
.section-form
  background-color: #ebebeb
.form-request
  padding-top: 80px
  padding-bottom: 80px
  &__title
    margin-top: 0
    margin-bottom: 12px
  &__subtitle
    margin-top: 0
    margin-bottom: 59px
.form-data
  border: 5px solid #fff
  padding: 60px
  display: flex
  justify-content: space-between
  &__column-one
    display: flex
    flex-direction: column
  &__column-two
    display: flex
    flex-direction: column    
  &__column-three
    display: flex
    flex-direction: column
    justify-content: space-between
.input__tel
  color: #141414
.input__year
  margin-bottom: 0
.input__name
  margin-bottom: 0
.label__title
  font-size: 13px
  color: #000
  margin-bottom: 7px
  +lato_reg
.label-title
  margin-top: 16px

  //_________________________________________CAR section_________________________//
.section-car
  background-color: #fff
.car
  padding-top: 70px
  padding-bottom: 80px
  &__title
    margin-top: 0
    margin-bottom: 57px
    &_other
      margin-bottom: 77px
  &-model
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    margin: auto
    width: 780px
    &__image
      opacity: 40%
      &:hover
        opacity: 100%
        transition: opacity 0.6s
        cursor: pointer
  &__model
    margin-bottom: 70px
.model__item
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0
.center
  text-align: center
  padding: 20px
  border: 2px solid #F2F2F2
//______________________________________Clients______________________________________//

.section-clients
  background-color: #EBEBEB
.clients
  padding-top: 70px
  padding-bottom: 70px
  &__title
    margin-top: 0
    margin-bottom: 49px
  &-offer
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    &__item
      width: 450px
      display: flex
.offer
  &__item
    margin-right: 30px
    margin-bottom: 70px
    &:last-child, &:nth-child(2)
      margin-right: 0
    &:last-child, &:nth-child(3)      
      margin-bottom: 0
      
  &-image
    width: 90px
    height: 90px
  &__image
    margin-right: 21px
  &-description
    display: flex
    flex-direction: column 
    &__text
      margin-top: 10px   
  &__title
    margin-top: 0
    color: #757575
    font-size: 12px
    +lato_bold
  &__request
    margin-top: 0
    color: #D91233
    font-size: 16px
    +lato_bold
  &__text
    margin-bottom: 0
    color: #2B2B2B
    font-size: 13px
    +lato_bold


  //___________________________________________________Секция c консультацией______________//

.section-consult
  background-color: #DBDBDB
.consult
  padding-top: 70px
  padding-bottom: 77px
  &__title
    margin-bottom: 12px
  &__subtitle
    margin-bottom: 60px
.form-consult
  border: 5px solid #FFFFFF
  padding: 55px 60px 65px 60px
.input-form
  display: flex
  justify-content: center
  &__item
    display: flex
    flex-direction: column
  &__name
    padding-left: 15px
    border: none
    background-color: #fff
    width: 290px
    height: 45px
  &__text
    color: #3B3B3B
    font-size: 13px
    +lato_reg
.form
  &__name
    margin-right: 40px
  &:last-child
    margin-right: 0
  &__text
    margin-bottom: 7px
  &__input
    margin-bottom: 40px
.button
  &-consult
    border: none
    color: #ffffff
    font-size: 18px
    border-radius: 25px 
    width: 300px
    height: 50px
    background-color: $second
    cursor: pointer    
    +lato_bold
  &__consult
    text-align: center

//____________________________________________________Секция с адресом_______________________//

.section-map
  position: relative
.map 
  &-form    
    position: absolute
    display: flex
    flex-direction: column
    align-items: center
    justify-content: start
    background-color: $second
    padding: 55px 70px
    top: 50px
    right: 300px
  &__title
    color: #ffffff
    font-size: 24px
    +lato_bold
  &__address
    color: #fff
    font-size: 20px
    +lato-reg
  &__tel
    text-decoration: none
    color: #fff
    font-size: 20px
    +lato_bold
  &__mail
    color: #fff
    font-size: 20px
    +lato_reg


.title__map
  margin-top: 0
  margin-bottom: 27px
.address__map
  margin-top: 0
  margin-bottom: 22px
.tel__map
  margin-bottom: 18px